.footerend {
    background-color: #304268;
    width: 320px;
    height: 465px;
    padding-top: 65px;
}

.Oval {
    background-color: black;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.list {
    list-style: none;
    color: white;
    line-height: 1.88;
    font-size: 16px;
    font-family: Roboto;
    text-align: center;

}

.copy {
    color: white;
}

.we-components .text-style-2 {
    font-family: ZapfDingbats;
    color: #f26002;
}

.text-style-1 {
    color: white;
}

.text-style-3 {
    color: white;
}