.cover {
    background-color: var(--white);
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    width: 320px;
    padding: 0 1.4px 34.1px 0px;


    &_menu {
        background-color: #0271bc;
        position: absolute;
        top: 0;
        left: 0;
        width: 37.1px;
        height: 22px;

        &-image {
            background-color: var(--white);
        }


    }

}

.sectionone {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content:center;
    transform: rotate(-0.23deg);
    
    &_title{
        font-size: 42px;
        line-height: 55px;
        align-items: center;
       

    }
   
}
    