.cover {
    height: 100vh;
    background-image: url("/images/cover1.jpeg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_menu {
        background-color: #0271bc;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0px 12.3px 13.5px 12.3px;
    }

    &_text {
        color: white;

        &-title {
            font-size: 42px;
            line-height: 55px;
            font-weight: bold;
            font-family: Roboto Slab;
        }

        &-subtitle {
            color: red;            
        }
    }

}
