.tips {
    background-color: var(--white);
    height: 376px;
    /*     width: 320px; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 67px;
    gap: 10px;

    &_insomnia {
        color: #8ccbea;
        font-family: Roboto;
        padding: 0 15px;

        &-subti {
            color: #000000;
            font-size: 24px;
            line-height: 1.25;
            font-family: Roboto Slab;
            padding: 0 15px;
            font-weight: 600;

            &_par {
                color: #4a4a4a;
                font-size: 18px;
                font-weight: 390;
                line-height: 1.67;
                text-align: left;
                font-family: Roboto;
                padding: 10px 15px 30px 15px;
            }
        }
    }
}

.goButtonContainer {
    padding: 0 15px;
}

.goButton {
    font-family: Roboto;
    width: 76px;
    height: 45px;
    font-size: 20px;
    border-radius: 22.5px;
    border: solid 2px #f26002;
    color: #f26002;
    background-color: var(--white);
}

.goButton:hover {
    transform: rotate(360deg);
    transition: transform 0.5s ease;
}

@media all and (min-width: 768px) {
    .tips {
        height: 300px;
        padding-top: 37px;

        &_insomnia {
            font-size: 14px;
            padding: 0 39px;

            &-subti {
                padding: 0 39px;

                &_par {
                    font-size: 20px;
                    padding-left: 39px;
                    padding-right: 39px;
                    padding-top: 20px;
                }
            }
        }

    }

    .goButtonContainer {
        padding: 0 39px;
    }
}