<footer class="footerend">
   <!--    <div class="Oval"></div>
   <img class="footerend_img" src="./images/Copia de ico-arrow.svg" alt="imagen scroll ico-scroll-down" />
   </div> -->
   <nav class="nav">
      <ul class="list">
         <li>ARTICLE</li>
         <li>BOOKS</li>
         <li>EVENTS</li>
         <li>REASONS</li>
         <li>TIPS</li>
      </ul>
      <ul class="list">
         <li>TWITTER</li>
         <li>INSTAGRAM</li>
         <li>MASTODON SOCIAL</li>
      </ul>
   </nav>
   <div class="signature">
      <p>&COPY; 2022</p>
      <p>
         we
         <span class="hearthColor">❤︎</span>
         components
      </p>
   </div>
</footer>
