<footer class="footerend">
<!--    <div class="Oval"></div>
   <img class="footerend_img" src="./images/Copia de ico-arrow.svg" alt="imagen scroll ico-scroll-down" />
   </div> -->
   <nav class="nav">
      <ul class="list">
         <li>ARTICLE</li>
         <li>BOOKS</li>
         <li>EVENTS</li>
         <li>REASONS</li>
         <li>TIPS</li>
      </ul>
      <ul class="list">
         <li>TWITTER</li>
         <li>INSTAGRAM</li>
         <li>MASTODON SOCIAL</li>
      </ul>
   </nav>
<!--    <span class="copy">
      <P>&COPY; 2022</P>  
   </span>
   <span class="we-components">
      <span class="text-style-1">we</span>
      <span class="text-style-2">❤︎</span>
      <span class="text-style-3">componenets</span>
    </span>   -->
  
</footer>