<footer class="footerend">
   <div class="oval">
      <img class="footerend_img" src="./images/Copia de ico-arrow.svg" alt="imagen scroll ico-scroll-down" />
   </div>
   <nav class="nav">
      <ul class="list">
         <li><a href="https://adalab.es/">ARTICLE</a></li>
         <li><a href="https://adalab.es/">BOOKS</a></li>
         <li><a href="https://adalab.es/">EVENTS</a></li>
         <li><a href="https://adalab.es/">REASONS</a></li>
         <li><a href="https://adalab.es/">TIPS</a></li>
      </ul>
      <ul class="list">
         <li><a href="https://adalab.es/">TWITTER</a></li>
         <li><a href="https://adalab.es/">INSTAGRAM</a></li>
         <li><a href="https://adalab.es/">MASTODON SOCIAL</a></li>
      </ul>
   </nav>
   <div class="signature">
      <p>&COPY; 2022</p>
      <p>
         we
         <span class="hearthColor">❤︎</span>
         components
      </p>
   </div>
</footer>